*.d
*.o
*.a
*~
GPATH
GTAGS
GRTAGS
tools/fmul_binary
tools/fmul_test
*.dat
test/testfile
fadd_interactive
test_generator/*_test
tools/floor
tools/fsqrt
tools/finv
tools/finv_table_gen
tools/fsqrt_table_gen
tools/fsqrt_table_interactive
